.about__top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title__section {
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.31rem;
    text-align: center;

    color: $black;

    @media (max-width: $breakpoint_sm) {
        font-size: 1.7rem;
        line-height: 1.5rem;
    }
}

.about__top-title {
    margin-top: 7.5rem;

    @media (max-width: $breakpoint_sm) {
        margin-top: 4.5rem;
    }
}

.text__section {
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.6rem;
    text-align: center;

    color: $gray_text;
}

.about___bottom {
    padding: 6.3rem 0;

    @media (max-width: $breakpoint_sm) {
        padding: 2.5rem 0;
    }
}

.about__top-text {
    max-width: 540px;
    margin: 3.1rem 0 6.2rem 0;

    @media (max-width: $breakpoint_sm) {
        margin: 2.5rem 0 4.2rem 0;
    }
}

.about___center {
    width: 100%;
    min-height: 250px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: $blue;
}

.center__box {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.center__items {
    display: flex;
    justify-content: center;

    flex-grow: 1;
    flex-basis: 16.66666%;

    @media (max-width: $breakpoint_xl) {
        padding: 30px 0;

        flex-basis: 33.33333%;
    }

    @media (max-width: $breakpoint_sm) {
        flex-basis: 50%;
    }
}

.center__img {
    height: 50px;
    margin: 0 25px;
}

.bottom__box {
    height: 100%;

    display: flex;
    justify-content: center;

    @media (max-width: $breakpoint_sm) {
        flex-direction: column;
        align-items: center;
    }
}

.about__skills {
    flex-grow: 1;
    flex-basis: 50%;

    @media (max-width: $breakpoint_sm) {
        width: 100%;
    }

}

.about__skills-title {
    padding: 3.15rem 0;

    text-align: left;

    @media (max-width: $breakpoint_sm) {
        padding: 0 0 2.5rem 0;

        text-align: center;
    }
}

.about__photo {
    flex-grow: 1;
    flex-basis: 50%;

    @media (max-width: $breakpoint_xl) {
        padding-left: 32px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    @media (max-width: $breakpoint_sm) {
        padding: 0;
        margin-top: 1rem;
    }
}

.main__photo {

}

.skills__title {
    padding-bottom: 1.25rem;
}

.skills__progressbar {
    height: .25rem;
    max-width: 27.8rem;
    margin-bottom: 1.87rem;

    position: relative;

    background: $bar_grey;

    &::before {
        content: '';
        position: absolute;
        height: .25rem;
        width: 75%;

        background: $blue;
    }

}
