.intro {
    min-height: 700px;
    padding-top: 16rem;

    background: $bg_gray;

    position: relative;

    @media (max-width: $breakpoint_xl) {
        padding-top: 10.87rem;
    }

    @media (max-width: $breakpoint_sm) {
        padding-top: 6.87rem;
    }

}

.intro__inner {
    display: flex;

    @media (max-width: $breakpoint_xl) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.intro__box-left {
    margin-top: 1.3rem;

    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-basis: 50%;
}

.intro__box-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    flex-basis: 50%;

    @media (max-width: $breakpoint_xl) {
        margin-top: 3.75rem;

        justify-content: center;
        align-items: center;
    }

    @media (max-width: $breakpoint_sm) {
        margin-top: 1.75rem;
    }
}

.intro__title {
    font-weight: 500;
    font-size: 3rem;
    line-height: 4.9rem;

    color: $black;

    @media (max-width: $breakpoint_sm) {
        font-weight: 500;
        font-size: 2rem;
        line-height: 4.9rem;
        text-align: center;
    }
}

.intro__text {
    margin-top: 3.75rem;

    font-weight: 400;
    font-size: 1rem;
    line-height: 1.62rem;

    color: $gray_text;

    @media (max-width: $breakpoint_xl) {
        margin-top: 2.75rem;
        max-width: 600px;

        text-align: center;
    }

    @media (max-width: $breakpoint_sm) {
        margin-top: 1.5rem;
    }
}

.btn {
    padding: 1.56rem 2.56rem;
    margin-top: 3.75rem;

    background-color: $blue;

    font-weight: 400;
    font-size: 1rem;
    line-height: 1.62rem;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none;

    color: $white;

}

.btn__intro {

    @media (max-width: $breakpoint_xl) {
        margin-bottom: 3.56rem;
    }

     @media (max-width: $breakpoint_sm) {
        padding: .8rem 1.8rem;
        margin-bottom: 2.56rem;

        font-size: .8rem;
    }
}
