.photo__box {
    margin-top: 1.75rem;

    display: flex;
    flex-wrap: wrap;
}

.photo__items {
    width: 25%;
    height: 480px;

    position: relative;
    overflow: hidden;

    &:hover .photo__content {
        opacity: 1;
    }
}

.photo__img {
    min-width: 100%;

    position: absolute;
    top: 50%; /* 1 */
    left: 50%; /* 2 */
    z-index: 1;

    transform: translate3d(-50%, -50%, 0); /* 3 */

}


.photo__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;

    background: rgba(52, 84, 122, 0.8);

    opacity: 0;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    transition: opacity .2s linear;
}


.photo__subimg {
    width: 100px;
    height: 100px;

    background: rgba(52, 84, 122, 0.8) center no-repeat;

}

.photo__tools {
    display: flex;
    justify-content: center;

    margin-top: 72px;
    margin-bottom: 100px;
}

.tools__img {
    padding: 0 15px;
}

