.work {
    padding: 6.25rem 0;
    height: 100%;

    background: $bg_gray;

    @media (max-width: $breakpoint_sm) {
        padding: 3.5rem 0;
    }
}

.work__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.work__text {
    max-width: 540px;
    padding: 3.13rem 0 3.5rem 0;
}

.work__video {
    padding: 0 16px;

    @media (max-width: 1200px) {
        width: 650px;
        height: 350px;
    }

    @media (max-width: $breakpoint_sm) {
        width: 350px;
        height: 170px;
    }
}
