<footer class="footer">
    <div class="container footer__item">

        <div class="footer__info">
            <div class="footer__name">Иванов Иван</div>

            <div class="footer__social">
                <img class="social" src="assets/img/vk-social-network-logo.svg" alt="VK">
                <img class="social" src="assets/img/vk-social-network-logo.svg" alt="VK">
                <img class="social" src="assets/img/vk-social-network-logo.svg" alt="VK">
            </div>

        </div><!-- ./footer__info -->

        <div class="footer__copy"> 2018. Все права защищены.</div>

    </div><!-- ./container -->
</footer>
